   <div class="navbar-bg"></div>
    <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto" onsubmit="return false">
            <ul class="navbar-nav mr-3">
                <li>
                    <a href="javascript:;" data-toggle="sidebar" class="nav-link nav-link-lg">
                        <i class="ion ion-navicon-round"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="search" class="nav-link nav-link-lg d-sm-none">
                        <i class="ion ion-search"></i>
                    </a>
                </li>
            </ul>
            <!-- 搜索 -->
            <div class="search-element">
                <input class="form-control search" type="search" placeholder="请输入学生姓名" list="searchArr"
                    aria-label="Search">
                <button class="btn" type="button" id="search"><i class="ion ion-search"></i></button>
                <datalist id="searchArr">

                </datalist>
            </div>

        </form>
        <ul class="navbar-nav navbar-right">
            <li class="dropdown dropdown-list-toggle">
                <a href="" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep">
                    <i class="ion ion-ios-bell-outline"></i>
                </a>
                <div class="dropdown-menu dropdown-list dropdown-menu-right">
                    <div class="dropdown-header">Notifications
                        <div class="float-right">
                            <a href="">View All</a>
                        </div>
                    </div>
                    <div class="dropdown-list-content">
                        <a href="" class="dropdown-item dropdown-item-unread">
                            <img alt="image" src="/image/avatar-1.jpeg" class="rounded-circle dropdown-item-img">
                            <div class="dropdown-item-desc">
                                <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                                <div class="time">10 Hours Ago</div>
                            </div>
                        </a>
                        <a href="" class="dropdown-item dropdown-item-unread">
                            <img alt="image" src="/image/avatar-2.jpeg" class="rounded-circle dropdown-item-img">
                            <div class="dropdown-item-desc">
                                <b>Ujang Maman</b> has moved task <b>Fix bug footer</b> to <b>Progress</b>
                                <div class="time">12 Hours Ago</div>
                            </div>
                        </a>
                        <a href="" class="dropdown-item">
                            <img alt="image" src="/image/avatar-3.jpeg" class="rounded-circle dropdown-item-img">
                            <div class="dropdown-item-desc">
                                <b>Agung Ardiansyah</b> has moved task <b>Fix bug sidebar</b> to <b>Done</b>
                                <div class="time">12 Hours Ago</div>
                            </div>
                        </a>
                        <a href="" class="dropdown-item">
                            <img alt="image" src="/image/avatar-4.jpeg" class="rounded-circle dropdown-item-img">
                            <div class="dropdown-item-desc">
                                <b>Ardian Rahardiansyah</b> has moved task <b>Fix bug navbar</b> to <b>Done</b>
                                <div class="time">16 Hours Ago</div>
                            </div>
                        </a>
                        <a href="" class="dropdown-item">
                            <img alt="image" src="/image/avatar-5.jpeg" class="rounded-circle dropdown-item-img">
                            <div class="dropdown-item-desc">
                                <b>Alfa Zulkarnain</b> has moved task <b>Add logo</b> to <b>Done</b>
                                <div class="time">Yesterday</div>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="dropdown"><a href="" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
                    <i class="ion ion-android-person d-lg-none"></i>
                    <!-- username -->
                    <div class="d-sm-none d-lg-inline-block">Hi,<%= data.username %></div>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="" class="dropdown-item has-icon">
                        <i class="ion ion-android-person"></i> Profile
                    </a>
                    <a href="" class="dropdown-item has-icon">
                        <i class="ion ion-log-out"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="main-sidebar" tabindex="1" style="overflow: hidden; outline: none;">
        <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a href="">Stisla Lite</a>
            </div>
            <div class="sidebar-user">
                <div class="sidebar-user-picture">
                    <img alt="image" src="/image/avatar-1.jpeg">
                </div>
                <div class="sidebar-user-details">

                    <!-- username -->
                    <div class="user-name"><%= data.username %></div>
                    <!-- 上一次登录的时间 -->
                    <div class="user-role">
                        <%= new Date(data.lastLoginTime).toLocaleString() %>
                    </div>
                </div>
            </div>
            <ul class="sidebar-menu">
                <li class="<%= idx=='index'?'active':'' %>">
                    <a href="/">
                        <i class="ion ion-speedometer"></i>
                        <span>学生管理</span>
                    </a>
                </li>
                <li class="<%= idx=='addStudent'?'active':'' %>">
                    <a href="/student/addStudent">
                        <i class="ion ion-clipboard"></i>
                        <span>增加学生</span>
                    </a>
                </li>
                <li class="<%= idx=='admin'?'active':'' %>">
                    <a href="javascript:;">
                        <i class="ion ion-ios-albums-outline"></i>
                        <span>管理员管理</span>
                    </a>
                </li>
                <li class="<%= idx=='addAdmin'?'active':'' %>">
                    <a href="/logout">
                        <i class="ion ion-flag"></i>
                        <span>增加管理员</span>
                    </a>
                </li>

                <!-- <li>
                  <a href="">
                    <i class="ion ion-stats-bars"></i>
                    <span>退出登录</span>
                  </a>
                </li> -->
                <!-- <li>
                  <a href="">
                    <i class="ion ion-ios-location-outline"></i>
                    <span>Google Maps</span>
                  </a>
                </li> -->


            </ul>
            <div class="p-3 mt-4 mb-4">
                <a href="/logout" class="btn btn-danger btn-shadow btn-round has-icon has-icon-nofloat btn-block" onclick="return confirm('是否确认退出')">
                    <i class="ion ion-help-buoy"></i>
                    <div>退出登录</div>
                </a>
            </div>
        </aside>
    </div>
